[flake8]

select =
    E,
    F,
    W

ignore =
    W503

max-line-length =
    120

exclude =
    .git,
    manage.py,
    helpck/settings/*,
    helpck/wsgi,
    */apps.py,
    */vendor/*,
    */migrations/*,
    */elasticsearch/*,
    node_modules/*,
    utils/check_bots/*
