*.pyc
.scrapy
test.db
*~
.DS_Store
/node_modules
wordforms_*.txt
media/*
node/node_modules
js-layers/classic/node_modules
*.diff
.sass-cache
__pycache__/
/bower_components
ghostdriver.log
*.sublime-project
*.sublime-workspace
.idea/
.ropeproject/
.python-version
celeryev.pid
.coverage
coverage.xml
*.swp
*.sql.gz

# Avoid elastic python client tests
helpck/elastic/*/elasticsearch/helpers/test*.py

.scannerwork
.venv
.vscode
.project
*.iml
.ycm_extra_conf.py

/static/web/
*.mo

webpack-stats.json
webpack-stats.admin.json
